* {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}
#header {
  height: 40px;
  background-color: rgba(0, 0, 255, 0.5);
}

#menu_container {
  height: 84px;
  background-color: rgba(0, 0, 0, 0.8);
}

#duo_container {
  height: 48px;
  background-color: rgba(0, 0, 0, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 1);
}

#item_container {
  min-height: 1000px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ads {
  min-width: 95%;
  width: 95%;
  height: 228px;
  background-color: rgba(0, 0, 200, 1);
}
