<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        width: 100%;
        border: 2px solid black;
        background-color: aqua;
      }

      html,
      body {
        height: 100%;
      }

      #post-id-o {
        height: 20%;
        font-size: 4rem;
      }
      #post-name-o {
        height: 10%;
      }
      #post-tagN-o {
        height: 10%;
      }
      #post-imSr-o {
        height: 40%;
      }
      #post-text-o {
        height: 20%;
      }
    </style>
  </head>
  <body>
    <!-- 몇번째 게시글 id-->
    <h1 id="post-id-o"></h1>
    <!-- 제목 name-->
    <h2 id="post-name-o"></h2>
    <!-- 태그 tagN -->
    <h3 id="post-tagN-o"></h3>
    <!-- 이미지 imSr -->
    <h4 id="post-imSr-o"></h4>
    <!-- 내용 text -->
    <h5 id="post-text-o"></h5>

    <script>
      let id = location.search.slice(4);

      const itemGet = async () => {
        try {
          const usersRes = await fetch(`http://localhost:3000/obj/?${id}`, {
            mode: "no-cors",
          });
          console.log(usersRes);
          const usersData = await usersRes.text();
          console.log(usersData);
          const userArr = JSON.parse(usersData);
          console.log(userArr);

          document.getElementById("post-id-o").innerText +=
            userArr.id + 1 + "번째 게시글 ID : " + userArr.id;
          document.getElementById("post-name-o").innerText +=
            "제목 : " + userArr.title;
          document.getElementById("post-tagN-o").innerText +=
            "작성 시간 : " + userArr.createdAt;
          document.getElementById("post-imSr-o").innerText += userArr.imSr;
          document.getElementById("post-text-o").innerText +=
            "내용 : " + userArr.text;
        } catch (err) {
          console.error(err);
        }
      };

      itemGet();

      // location.href = `/obj/?${id}`;
    </script>
  </body>
</html>
<!-- /user/?id=1 -->
